
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1490232366857'); /* IE9*/
  src: url('../font/iconfont.eot?t=1490232366857#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1490232366857') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1490232366857') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1490232366857#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu1:before { content: "\e631"; }

.icon-faxian:before { content: "\e617"; }

.icon-wode:before { content: "\e66d"; }

.icon-cuowu:before { content: "\e605"; }

.icon-arrow-right-copy:before { content: "\e603"; }

.icon-wunaibiaoqing:before { content: "\e6c7"; }

.icon-ku:before { content: "\e644"; }

.icon-zhengque:before { content: "\e60c"; }

.icon-fangzi:before { content: "\e602"; }

.icon-dengpao:before { content: "\e601"; }

