<template>
    <div class="articlebig">
       <figure>
           <slot></slot>

           <figcaption>
               千万别对保险说不需要！因为这些后果你承担不起啊的的所发生的
           </figcaption>
       </figure>
    </div>
</template>
<script>
    export default{
        data(){
            return{

            }
        }
    }
</script>

<style>
    .articlebig{width:95%;text-align:center;margin: auto;}
    .articlebig figure{width: 100%;position: relative;}
    .articlebig img{width: 100%;text-align: center;}
    .articlebig figure figcaption{position: absolute;left: 0;bottom:0;height: 40px;line-height: 40px;color:#fff;background: rgba(108,108,108,0.5);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width: 100%;}

</style>