<template>
    <div id="firstcompoment">
        <p>年后啊</p>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                msg:'hello world'
            }
        }
    }
</script>