<template>
    <div id="home">

            <mt-header fixed  title="江泰保险">
                <router-link to="/" slot="left">
                    <mt-button icon="back">返回</mt-button>
                </router-link>
                <mt-button icon="more" slot="right"></mt-button>

            </mt-header>

            <mt-tab-container class="page-tabbar-container top" v-model="selected">
                <mt-tab-container-item id="展业">
                    <div class="list_home">

                        <figure v-for="article in articles">
                            <router-link to="/details">
                                <img  v-lazy="url+article[0].img_url"  v-bind:alt="article[0].product_name" />
                                <figcaption>
                                    <p class="right"> <span>¥{{article[0].min_price}}</span>起</p>
                                    <h4 class="center_left margin_top_bottom">{{article[0].product_name}}</h4>
                                    <p class="center_left color_gray">{{JSON.parse(article[0].content).describe}}</p>
                                </figcaption>
                            </router-link>

                        </figure>
                    </div>

                </mt-tab-container-item>
                <mt-tab-container-item id="帮助">
                    <mt-navbar v-model="select">
                        <mt-tab-item id="1">展业素材</mt-tab-item>
                        <mt-tab-item id="2">常见问题</mt-tab-item>
                        <mt-tab-item id="3">文案推荐</mt-tab-item>
                    </mt-navbar>

                    <!-- tab-container -->
                    <mt-tab-container v-model="select">
                        <mt-tab-container-item id="1">
                            <div class="article">
                                <articlebig>
                                   <img src="https://dev.thb100.com/app/img/wap/gyansheng.jpg" alt="">
                                </articlebig>
                                <articlebig>
                                    <img src="https://dev.thb100.com/app/img/wap/gyansheng.jpg" alt="">
                                </articlebig>
                                <articlebig>
                                    <img src="https://dev.thb100.com/app/img/wap/gyansheng.jpg" alt="">
                                </articlebig>
                                <articlebig>
                                    <img src="https://dev.thb100.com/app/img/wap/gyansheng.jpg" alt="">
                                </articlebig>
                            </div>
                        </mt-tab-container-item>
                        <mt-tab-container-item id="2">
                            <mt-cell v-for="n in 4" :title="'测试 ' + n" />
                        </mt-tab-container-item>
                        <mt-tab-container-item id="3">
                            <mt-cell v-for="n in 6" :title="'选项 ' + n" />
                        </mt-tab-container-item>
                    </mt-tab-container>
                </mt-tab-container-item>
                <mt-tab-container-item id="我的">
                     <div class="mine">
                        <div class="user-info">
                            <img v-bind:src="userinfo[0].img_url" class="logo" alt="logo">
                            <div class="user">
                                <p class="user_name">{{userinfo[0].name}}</p>
                                <span class="phone">{{userinfo[0].phone}}</span>
                            </div>
                        </div>
                         <div class="my-achievement">
                             <h5>我的业绩<p>累计保费<span>0.00</span>元</p></h5>
                             <div class="exit">
                                 <p href="">客服热线：010-62202788-9528</p>
                                 <router-link to="/">
                                     <mt-button type="default">退出页面</mt-button>
                                 </router-link>

                             </div>

                         </div>
                     </div>


                </mt-tab-container-item>
                <mt-tab-container-item id="发现">
                    <div class="page-part">

                    </div>
                    <router-link to="/">
                        <mt-button type="danger" size="large">退出</mt-button>
                    </router-link>
                </mt-tab-container-item>
            </mt-tab-container>

            <mt-tabbar v-model="selected" fixed class="tabbar_height">
                <mt-tab-item id="展业" class="line_height">
                    <i class="icon iconfont icon-fangzi F" ></i>
                    <span class="F">展业</span>
                </mt-tab-item>
                <mt-tab-item id="帮助">
                    <i class="icon iconfont icon-dengpao F" ></i>
                    <span class="F">帮助</span>
                </mt-tab-item>
                <mt-tab-item id="我的">
                    <i class="icon iconfont icon-wode F" ></i>
                    <span  class="F">我的</span>
                </mt-tab-item>
                <mt-tab-item id="发现">
                    <i class="icon iconfont icon-dengpao F" ></i>
                    <span  class="F">发现</span>
                </mt-tab-item>
            </mt-tabbar>





    </div>

</template>

<script>
import articlebig from './articlebig.vue'
import firstcomponent from './firstcomponent.vue'
    export default{
        data(){
            return {
                select:'1',
                selected:"展业",
                articles:[],
                userinfo:[],
                url:'https://dev.thb100.com/app/views/wap/'
            }
        },
        components:{articlebig,firstcomponent},
        methods:{
            hoter:function(){
                var vm =this;
                vm.$http.post('https://dev.thb100.com/product/search', {'mechanismId':1,'userId':1}, {
                    headers: {

                    },
                    emulateJSON: true
                }).then(function(response) {
                    // 这里是处理正确的回调
                    console.log(response.body.data);
                    vm.articles = response.body.data;
                    // this.articles = response.data["subjects"] 也可以

                }, function(response) {
                    // 这里是处理错误的回调
                    console.log(response)
                });
            },
            user:function(){
                var vm =this;
                vm.$http.post('https://dev.thb100.com/user', {'mechanismId':1,'userId':3}, {
                    headers: {

                    },
                    emulateJSON: true
                }).then(function(response) {
                    // 这里是处理正确的回调
                    console.log(response.body.data);
                    vm.userinfo = response.body.data;
                    // this.articles = response.data["subjects"] 也可以

                }, function(response) {
                    // 这里是处理错误的回调
                    console.log(response)
                });
            }
        },
        mounted:function(){
            this.hoter();
            this.user();
        }

    }
</script>

<style>
    .top{margin-top: 40px;}
    .color_gray{color:#999;font-size:14px;}
    div.list_home{width: 100%;}
    div.list_home figcaption{margin:5px 0;}
    div.list_home .center_left{text-align:left}
    div.list_home .margin_top_bottom{margin: 8px 0;}
    div.list_home figure img {width:100%;text-align:center;}
    div.list_home figure {margin:6px 0;background:#fff;padding: 15px 10px;}
    div.list_home .right{float:right}
    div.list_home .right span{color:red;}
    .tabbar_height{height:40px;line-height:40px;}
    .F{font-size:15px;line-height:26px;}
    div.mine{margin:5px auto;}
    div.user-info{overflow:hidden;padding:15px 10px; background:#fff; }
    div.mine .logo{float: left;width:20%;border: 2px solid aquamarine;border-radius:50%;}
    div.mine .user{float: left;margin:0 0 0 10px;overflow:hidden;}
    div.mine .user_name{margin:20px 0 10px 15px;}
    div.mine .user .phone{font-size:14px;}
    div.mine .my-achievement h5{margin:10px 0 0 0;height: 50px;line-height: 50px;font-size:14px;color: #666;background: #fff;padding: 0 10px; }
    div.mine .my-achievement h5 p{float:right;}
    div.mine .my-achievement .exit{margin: 150px 0 auto;text-align: center;}
    div.mine .my-achievement .exit p{margin: 10px 0;}
    div.article {margin: 10px auto; }





</style>