<template>
    <div id="login">
        <mt-field label="手机号" placeholder="请输入手机号" type="tel" :state="istrue" v-model="value"  :attr="{maxlength:11}"  @keyup.native="isReg()">

        </mt-field>
        <mt-field label="验证码" placeholder="请输入验证码" type="tel" v-model="code"  :attr="{maxlength:4}"  disableClear>
            <mt-button size="normal" type="primary" class="btn_size" @click.native="sendCode()" :disabled="isdisable">{{code_text}}</mt-button>
        </mt-field>
        <mt-field label="选择机构" placeholder="" v-show="isShow"  disableClear>
            <select name="" id="" v-for="cont in data"  class="cont_select" v-model="mechanism_id">
                <option value="" disabled="disabled">请选择机构</option>
                <option v-bind:value="cont.mechanism_id" value="cont.id">{{cont.mechanism_name}}</option>
            </select>
            <i class="icon iconfont icon-arrow-right-copy F" ></i>
        </mt-field>
        <mt-button type="primary" size="large" class="login_size" @click.native="login">登录</mt-button>




    </div>
</template>
<script>

    export default {
        data (){
            return {
                istrue:'',
                value:'',
                code:'',
                isdisable:false,
                code_text:'验证码',
                data:[],
                isShow:false,
                mechanism_id:''


            }
        },
        methods:{
            isReg:function(){
                var re = /^1\d{10}$/;
                if(re.test(this.value)){
                    this.istrue='success'
                }else{
                    this.istrue='error'
                }
            },
            sendCode:function(){
                var re =/^1\d{10}$/;
                if(!(re.test(this.value))){
                    this.message("手机格式错误",'middle','icon iconfont icon-cuowu1');
                    return;
                }
                var vm =this;
                this.$http.post('https://dev.thb100.com/login', {'userphone':this.value}, {
                    headers: {

                    },
                    emulateJSON: true
                }).then(function(response) {
                    // 这里是处理正确的回调
                    console.log(response);
                    if(response.body.errno=='0'){
                        console.log(response.body.data);
                        console.log(vm.isdisable);
                        vm.isdisable=true;
                        vm.isShow = true;
                        vm.data = response.body.data;
                        vm.setTime();
                        console.log(vm.isdisable);
                    }else {
                        console.log(JSON.parse(response.data));
                        vm.message('没有添加机构','middle','icon iconfont icon-ku');
                    }


                    // this.articles = response.data["subjects"] 也可以

                }, function(response) {
                    // 这里是处理错误的回调
                    console.log(response)
                });
            },
            setTime:function(){
                var vm =this;
                var n=60;

               var time = setInterval(function(){
                   vm.code_text=n+'秒后重发';
                    n--
                    if(n==-1){
                        vm.isdisable=false;
                        vm.code_text='重发'
                        clearInterval(time);
                    }
                },1000)
            },
            login:function(){
                var vm =this;
                this.$http.post('https://dev.thb100.com/loginSend', {'userphone':this.value,code:this.code,mechanism_id:this.mechanism_id,open_id:'o7C4bwrZozTzLr-_jn9T8NhiVgRQ'}, {
                    headers: {

                    },
                    emulateJSON: true
                }).then(function(response) {
                    // 这里是处理正确的回调
                    if(response.body.errno=='0'){
                        console.log(response.body.data);
                        console.log($);
                        console.log(md5('213dsfdeswfewewf'));
                        vm.$router.push('/home');
                    }else {
                        vm.message('验证码错误','middle','icon iconfont icon-cuowu1');
                    }


                    // this.articles = response.data["subjects"] 也可以

                }, function(response) {
                    // 这里是处理错误的回调
                    console.log(response)
                });
            },
            message:function(text,position,className){
                this.$toast({
                    message: text,
                    position: position,
                    iconClass: className
                });
            }
        }

    }
</script>
<style>
        #login .btn_size{
            width: 65px;
            height:40px;
            font-size:12px ;
            margin: 3px 3px 0 0;
            border: none;
            outline: none;
        }
        #login .cont_select{
            outline: none;
            font-size: 15px;
            margin: 3px 0 0 0;
            width:220px;
            height:43px;
            border:none;
            color: #666;
            text-align: center;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            background:#FFF;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
        }
        #login select::-ms-expand { display: none; }
        #login .cont_select option{
            width:200px;
            height:60px;
            border:none;
            outline: 1px solid #ccc;
            color: #666;
            text-align: center;
        }
       #login .F{font-size: 20px;margin: 10px 25px 0 0;display:inline-block;}
       #login .login_size{
           width: 80%;
           text-align: center;
           margin: 30px auto;
       }
</style>