<template>
    <div id="productdetails">
        <div>{{a}}</div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                a:"sdfds"
            }
        }
    }
</script>