<template>
    <div id="secondcomponent">
        <mt-header title="标题过长会隐藏后面的内容啊哈哈哈哈">
            <router-link to="/" slot="left">
                <mt-button icon="back">返回</mt-button>
            </router-link>
            <mt-button icon="more" slot="right"></mt-button>
        </mt-header>
        <ul>
            <li v-for="data in datas">{{data}}</li>
        </ul>
        <p>

            <i class="icon iconfont icon-sousuo"></i>

        </p>
        <p><mt-button plain>plain</mt-button>
            <mt-button icon="back">back</mt-button>
            <mt-button icon="more">更多</mt-button>
            <mt-button disabled>disabled</mt-button>
            <mt-button type="default">default</mt-button>
            <mt-button type="primary">primary</mt-button>
            <mt-button type="danger">danger</mt-button>
        </p>
        <p>id:{{$route.params.id}}姓名：{{$route.params.username}}</p>
        <p>{{M}}</p>

    </div>
</template>
<script>
    export default{
        data(){
            return{
                datas:[1,2,3,4,5],
                M:appconfig.ip


            }
        },
        mounted:function(){

        }
    }
</script>