<template>
  <div id="app">
    <div>
      <router-link to="/second/4/平安集团"></router-link>
      <router-link to="/home"></router-link>
      <router-view class="view"></router-view>
    </div>


  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'welcome to my vue'
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
html,body{width: 100%;height: 100%;background:rgba(242,242,242,0.8);}
html,body,ul,li,p,div,dt,dd,dl,h1,h2,h3,h4,h5,h6,figure,figcaption{padding: 0;margin: 0;}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
  text-decoration: none;
}
</style>
